@import url("normalize.css");

/* :root {
    --bgcolor: #fff;
} */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    background-color: #fff;
}

.header-top {
    width: 100%;
    height: 782px;
    background: url(../img/Group.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
}

@media (max-width: 768px) {
    .nav-row {
        flex-direction: column;
        align-items: center;
    }
}

/* logo */
.logo__icon {
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
}

.logo__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-inline-start: 0px;
}

.navigation__list-item {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
}

.navigation__list-link {
    text-decoration: none;
    color: #fff;
}

.navigation__list-link:hover {
    color: #101010;
}

.navigation__list-item:last-child {
    margin-right: 0;
}

.navigation__list-item--active {
    font-weight: 700;
}

/* mobile-menu */

.mobile-nav {
    display: none;
}

.mobile-menu__toggle {
    opacity: 0;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;
    z-index: 100;
}

.mobile-menu__toggle:checked ~ .mobile-menu__btn > span {
    transform: rotate(45deg);
}
.mobile-menu__toggle:checked ~ .mobile-menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
.mobile-menu__toggle:checked ~ .mobile-menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
.mobile-menu__toggle:checked ~ .mobile-nav__list {
    visibility: visible;
    left: 0;
}

.mobile-menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
}
.mobile-menu__btn > span::before {
    content: "";
    top: -8px;
}
.mobile-menu__btn > span::after {
    content: "";
    top: 8px;
}

.mobile-nav__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
}

.mobile-nav__list-link {
    display: block;
    padding: 12px 24px;

    color: #333;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
}
.mobile-nav__list-link:hover {
    background-color: #cfd8dc;
}
/* mobile-menu */

.button {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}

.button__login {
    color: #fff;
    background: none;
    border: 1px solid #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 29px;
    padding-right: 29px;
}

.header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__hero[data-scroll] {
    /* animation: animate__zoomIn 1s ease-in-out 0.5s 1 normal forwards; */
}
.header__hero[data-scroll="in"] {
    animation-name: zoomIn;
    animation-duration: 3s;
}
.header__hero[data-scroll="out"] {
    opacity: 0;
}

.header__hero-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 90px;
    margin-bottom: 39px;
}

.header__hero-text {
    max-width: 540px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 39px;
}

.header__hero-button {
    background-color: #fff;
    font-weight: 600;
    color: #ee3d1b;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 52px;
    padding-right: 52px;
    border: none;
}

@media (max-width: 576px) {
    .navigation {
        display: none;
    }
    .button__login {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .header__hero-title {
        font-size: 50px;
    }
    .header__hero-text {
        font-size: 20px;
    }
}

@media (max-width: 490px) {
    .header__hero-title {
        font-size: 30px;
    }
}

/* About section */
.about {
    background: #fff;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__content {
    max-width: 450px;
}

.about__content[data-scroll] {
    /* animation: slideLeft 1s ease-in-out 0.5s 1 normal forwards; */
}
.about__content[data-scroll="in"] {
    animation-name: pulse;
}
.about__content[data-scroll="out"] {
    opacity: 0;
}

.about__content-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin: 0 0 24px 0;
}

.about__content-text {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    margin: 0 0 24px 0;
}

.about__img-container {
    border-radius: 15px;
}

.about__img-container[data-scroll] {
    /* animation: slideLeft 1s ease-in-out 0.5s 1 normal forwards; */
}
.about__img-container[data-scroll="in"] {
    /* animation-name: pulse; */
    animation-name: slideRight;

}
.about__img-container[data-scroll="out"] {
    opacity: 0;
}

.about__img-link {
    max-width: 450px;
    margin-right: 50px;
}

.about__content-link {
    color: #d52047;
    text-decoration: none;
}

@media (max-width: 992px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
    .about__content {
        margin-bottom: 20px;
    }
    .about__img-link {
        margin-right: 0px;
    }
}

@media (max-width: 490px) {
    .about__content {
        width: 90%;
    }
    .about__img-link {
        width: 90%;
    }
    .about__img-container {
        text-align: center;
    }
}

/* features */
.features[data-scroll] {
    /* animation: slideRight 1s ease-in-out 0.5s 1 normal forwards; */
}
.features[data-scroll="in"] {
    animation-name: flip;
}
.features[data-scroll="out"] {
    opacity: 0;
}


.features__wrap {
    background: #fafafa;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.features__title {
    text-align: center;
    margin-bottom: 63px;
    margin-top: 63px;
}

.features__card {
    width: 31%;
    background: #fff;
}

.features__card-img {
    width: 100%;
    border-radius: 8px;
}

.features__card-content {
    width: 90%;
    background: #fff;
    position: relative;
    bottom: 60px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin: 33px 0 20px 0;
}

.card__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #101010;
    margin: 0;
    padding: 0;
}

.card__link {
    padding: 25px 0 25px 0;
    text-decoration: none;
    color: #d52047;
    font-weight: bold;
    font-size: 12px;
    line-height: 18%;
}

@media (max-width: 530px) {
    .features__wrap {
        background: #fafafa;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features__card {
        width: 450px;
    }
}

@media (max-width: 490px) {
    .features__card {
        width: 90%;
    }
}

/* tehnology */
.technology {
    padding-bottom: 100px;
}

.technology[data-scroll] {
    /* animation: slideRight 1s ease-in-out 0.5s 1 normal forwards; */
}
.technology[data-scroll="in"] {
    animation-name: zoomIn;
}
.technology[data-scroll="out"] {
    opacity: 0;
}

.technology__wrap {
    display: flex;
    justify-content: space-between;
}

.technology__title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 63px;
}

.technology__card {
    width: 30%;
}

.number {
    display: block;
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    /* identical to box height */
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
}

.technology__card-content {
    width: 90%;
    position: relative;
    bottom: 60px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.technology__img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.technology__text {
    line-height: 14px;
}

@media (max-width: 490px) {
    .technology__wrap {
        flex-wrap: wrap;
    }
    .technology__card {
        width: 49%;
    }
}

/* savig */
.saving {
    background: #ed4c5c;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saving-wrap {
    display: flex;
    justify-content: space-between;
}

.saving__content {
    max-width: 450px;
}

.saving__content[data-scroll] {
    /* animation: slideLeft 1s ease-in-out 0.5s 1 normal forwards; */
}
.saving__content[data-scroll="in"] {
    animation-name: pulse;
}
.saving__content[data-scroll="out"] {
    opacity: 0;
}

.saving__content-title {
    color: #ffffff;
    margin-bottom: 24px;
}

.saving__content-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #ffffff;
}

.saving__social-icons {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.img[data-scroll] {
    /* animation: slideLeft 1s ease-in-out 0.5s 1 normal forwards; */
}
.img[data-scroll="in"] {
    /* animation-name: pulse; */
    animation-name: slideRight;

}
.img[data-scroll="out"] {
    opacity: 0;
}

.saving-img {
    max-width: 550px;
    border-radius: 15px;
}

@media (max-width: 1050px) {
    .saving__content {
        max-width: 400px;
    }
}

@media (max-width: 992px) {
    .saving-wrap {
        flex-direction: column;
        align-items: center;
    }
    .saving__content {
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {
    .saving-img {
        max-width: 450px;
    }
}

@media (max-width: 490px) {
    .saving__content {
        width: 90%;
    }
    .saving-img {
        width: 90%;
    }
    .img {
        text-align: center;
    }
}

/* contact */
.contact {
    background: #fff;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
}

.contact-wrap {
    display: flex;
    justify-content: space-between;
}

.contact__content {
    max-width: 450px;
}

.contact__content-title {
    color: #000000;
    margin: 0 0 50px 0;
}

.contact__content-text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
}

.form {
    width: 500px;
}

.form__input {
    width: 100%;
    padding: 15px 30px;
    margin: 0 0 24px 0;
    border-radius: 6px;
    border: 1px solid #132743;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.7);
}

.form__input--half {
    width: 47%;
}

.form-inner {
    display: flex;
    justify-content: space-between;
}

.form__button {
    background: #ed4c5c;
    border: 1.5px solid #ed4c5c;
    border-radius: 6px;
    padding: 16px 34px 16px 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-transform: uppercase;
    color: #ffffff;
}

@media (max-width: 992px) {
    .contact-wrap {
        flex-direction: column;
        align-items: center;
    }
    .contact__content-title {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .form {
        max-width: 450px;
    }
}

@media (max-width: 490px) {
    .form {
        width: 90%;
        margin: 0 auto;
    }
}

/* footer */
.footer {
    background: #fafafa;
    padding-bottom: 86px;
}

.footer-wrapper {
    padding: 85px 0 85px 0;
    display: flex;
    justify-content: space-between;
}

.footer__title {
    margin: 0 0 28px 0;
    text-align: left;
}

.footer__list {
    padding: 0;
}

.footer__list-item {
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}

.footer__list-item--margin {
    padding-bottom: 11px;
}

.footer__list-link {
    text-decoration: none;
    color: #101010;
}

.connection {
    text-decoration: none;
    color: #101010;
}

.copyright__text {
    font-family: Lato;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

.footer__img {
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

@media (max-width: 576px) {
    .footer__card {
        width: 49%;
    }
    .footer-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .footer__img-full {
        width: 50%;
    }
    .footer__card {
        width: 90%;
    }
}

/* animations */
/* [data-scroll] {
    transition: opacity 2s;
}
[data-scroll="in"] {
    opacity: 1;
}
[data-scroll="out"] {
    opacity: 0;
} */

@keyframes slideRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* @keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFade {
} */
